# IP of the Influxdb database
INFLUXDB_IP="localhost"
# PORT of the Influxdb database
INFLUXDB_PORT="8086"
# Which database to use (has to be created)
INFLUXDB_DB="tplink"
# Database username
INFLUXDB_USER="admin"
# Database password
INFLUXDB_PASSWORD="admin"
# Where temporary files will be stored (overridden with every injection)
INFLUXDB_TEMP_STATUS_FILE="/tmp/status.json"
INFLUXDB_TEMP_EMETER_FILE="/tmp/emeter.json"
