[Unit]
Description=HS100 Smart Plug by Tp-Link (instance %I)

[Service]
Type=oneshot
ExecStart=/root/hs100/hs100.sh -i %i emeter_influxdb
User=root
Group=systemd-journal

